<!DOCTYPE html>
<!DOCTYPE html>
{% extends 'core/base.html' %}
{% block title %}
Login
{% endblock title %}
{% block main_content %}

 <div class="row justify-content-around  text-dark ">
        <div class="col-sm-8 mt-5" >
            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="Submit" class="btn btn-secondary mt-2">
            </form>
        </div>
     <div>

     </div>
 </div>

{% endblock main_content %}