{% extends 'core/base.html' %}
{% block title %}
Password Reset Done
{% endblock title %}
{% block main_content %}
<div class="container">
    <div class="row justify-content-around-mt-5">
        <div class="col-sm-12  text-dark">
            <div class="text-center text-secondary mt-5">
                <h3>Password Reset Done</h3>
            </div>
        </div>
    </div>


    <div class="row justify-content-around  mt-0">
        <div class="col-sm-4  text-secondary">
            <h3>To Change Your Password,check your email and click on link</h3>
        </div>
    </div>


</div>
{% endblock main_content %}