{% extends 'core/base.html' %}
{% block title %}
Reset Password
{% endblock title %}

{% block main_content %}
<div class="container">
    <div class="row justify-content-around text-center mt-5">
        <div class="col-sm-12  text-secondary">
            <h3>Reset Password</h3>
        </div>

    </div>

    <div class="row justify-content-around  mt-0">
        <div class="col-sm-6  text-secondary">
            <form action="" method="post" class="text-black p-3 rounded mt-2" style="background-color: white">
                {%csrf_token%}
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-success" role="alert">
                {{message}}
                </div>
                {%endfor%}

                {% endif %}

                {%for fm in form%}
                {{fm.label_tag}}
                {{fm}}
                <small>{{fm.errors|striptags}}</small>

                {%endfor%}
                <input type="submit" value="Submit" class="btn btn-secondary mt-2">
            </form>
        </div>

    </div>
</div>
{% endblock main_content %}